<div class="weui-tabbar close-popup">
    <a class="weui-tabbar__item" href="#">
        <div class="weui-tabbar__icon"><i class="weui-tabbar__label fa fa-feed"></i></div>
        <p class="weui-tabbar__label">发现</p>
    </a>

    <a class="weui-tabbar__item" href="#">
        <div class="weui-tabbar__icon"><i class="weui-tabbar__label fa fa-user"></i></div>
        <p class="weui-tabbar__label">我</p>
    </a>
</div>